@import 'material-icons/iconfont/material-icons.scss';

$greenblue: rgb(72, 165, 183);

.page-container {
    margin: 20px 35px 20px 35px;
}

.title-container {
    width: 100%;
    padding: 30px 15px 20px;
}
#title {
    width: 80%;
    float:left;
    color: $greenblue;
    font-size: 1.7em;
    font-weight: 550;
    font-family: 'Courier New', Courier, monospace;
}
#add-new {
    width: 295px;
    background-color: rgb(255, 107, 107);
    color: white;
    font-size: 1.07rem;
    border: none;
}

table {
    width: 100%;
}
.table-header-txt {
    color: rgb(193, 206, 218);
}
.table-content-txt {
    color: rgb(59, 60, 71);
}
