.title {
    color: rgb(89, 163, 247);
    font-weight: 600;
    margin-bottom: 20px;
}

mat-form-field {
    width: 100%;
    padding-left: 0px 5px 0px 5px;
}

.pull-right {
    text-align: right;
}

button {
    margin: 2px 3px 5px 10px;
    width: 20%;
    height: 50px;
}
