<div class="title">Add New Address</div>

<!-- Daum Address Search API Iframe -->
<div id="layer" #layer style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
    <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer" style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" (click)="closeDaumPostcode()" alt="닫기 버튼">
</div>

<div>
    <label>Name</label>
    <mat-form-field appearance="outline">
        <input matInput type="text" id="name" placeholder="Name" name="name" [(ngModel)]="createRequest.name" required>
    </mat-form-field>
    
    <label matTooltip="도로명 주소">Address</label>
    <mat-form-field appearance="outline">
        <input matInput type="text" id="fullRoadAddress" placeholder="도로명 주소" (click)="openDaumPostCode()" [(ngModel)]="daumAddr" readonly>
    </mat-form-field>

    <label>Detail</label>
    <mat-form-field appearance="outline">
        <input matInput type="text" id="moreAddress" #moreAddress placeholder="상세주소" [(ngModel)]="this.createRequest.details.extraAddress">
    </mat-form-field>
</div>
<br>

<div class="pull-right">
    <button mat-stroked-button color="primary" class="add-button" (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="primary" class="search-button" (click)="onSubmit()" type="submit" [disabled]="!this.createRequest.name">
        Save
    </button>
</div>
